/* 아래 코드는 문제 해결을 위해 기본적으로 제공되는 코드입니다. 수정하지 마세요! */
/* 선택자는 style > id > class > type 순으로 우선순위가 높음 */

h3 {
    /*모자 장수 선생님은 빨간색 글씨의 명찰*/
    color: red;
}

#rabbit {
    /*엘리스 토끼는 파란색 글씨의 명찰*/
    color: blue;
}

.cat {
    /*체셔 고양이는 초록색 글씨의 명찰*/
    color: green;
}